@use '@angular/material' as mat;
@include mat.core();

$bank-manager-client-primary: mat.define-palette(mat.$amber-palette);
$bank-manager-client-accent: mat.define-palette(mat.$deep-orange-palette);

$bank-manager-client-warn: mat.define-palette(mat.$red-palette);

$bank-manager-client-theme: mat.define-dark-theme((
  color: (
    primary: $bank-manager-client-primary,
    accent: $bank-manager-client-accent,
    warn: $bank-manager-client-warn,
  )
));

@include mat.all-component-themes($bank-manager-client-theme);

$primary: #FFC107;
$secondary: #FF5722;

@import '~bootstrap/scss/bootstrap.scss';

html, body, page-content { height: 100%; background-color: #ebf4fa;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.xng-breadcrumb-root {
  padding: 0 10% 40px;
  display: inline-block;
  border-radius: 4px;
}
.xng-breadcrumb-separator {
  padding: 0 4px;
}
