<div class="container-fluid">
    <div class="row my-3">
        <div class="col-4">
            <a href="../revenus/new"><button class="btn btn-outline-success w-100">Nouveau revenu</button></a>
        </div>
        <div class="col-8">
            <mat-form-field appearance="outline" class="w-100 border-primary">
                <mat-label>Select the year :</mat-label>
                <mat-select class="text-primary" [formControl]="YearSelect" (selectionChange)="changeYear()">
                    <mat-option [value]="2021">2021</mat-option>
                    <mat-option [value]="2022">2022</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-8">
            <app-revenus-bar-chart [year]="selectedYear"></app-revenus-bar-chart>
        </div>
    </div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table mat-table class="col-12" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{ row.ID }} </td>
                </ng-container>
                <ng-container matColumnDef="Montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Montant }} €</td>
                </ng-container>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Date }} </td>
                </ng-container>
                <ng-container matColumnDef="Crediteur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Crediteur </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Crediteur }} </td>
                </ng-container>
                <ng-container matColumnDef="Categorie">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </th>
                    <td mat-cell *matCellDef="let row"><mat-icon>{{row.CategorieIcon}}</mat-icon> {{ row.Categorie }} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Description }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
                <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>
